<div class="main-page">
  <div class="restaurant-infos">
    <h2><%= @restaurant.name %></h2>
    <div class="show-infos">
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
    </div>
  </div>
  <div class="restaurant-reviews">
    <% unless @reviews.empty? %>
      <p>afficher</p>
    <% else %>
      <p>Il n'y a aucune review pour le moment, soyez le premier a en écrire une</p>
      <p>Lien vers reviews add</p>
    <% end %>
  </div>
</div>
